body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("asserts/2.jpg");
    height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

.content1 {
    position: absolute;
}

.content2 {
    position: relative;
}

.threeblock {
    position: relative;
    top: -5px;
}

.message {
    color: white;
    padding-top: 27%;
    text-align: center;
    padding-bottom: 110px;
}

.aboutblock {
    font-size: 20px
}

.formtitle {
    color: rgb(25, 3, 121);
}

.block1,
.block2,
.block3 {
    display: flex;
    color: white;
    background-color: rgb(30, 87, 245);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    justify-content: space-around;
    height: 150px;
    margin-top: 50px;
    padding: 20px;
}

.formtext {
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 20px;
    padding-left: 10px;
}

.formtext:hover,
 :active {
    border-color: yellow;
}

.single-service-box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffffff;
    width: 350px;
    margin-right: 10px;
    margin-top: 30px;
    padding: 50px 25px 25px 25px;
    transition: all 0.36s ease-in-out 0s;
    border-radius: 0 30px;
}

.number {
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-weight: 600;
}

.counter-icon-box {
    color: #bbb;
    font-size: 30px;
    margin: 0 0 20px;
    transition: all 400ms linear 0s;
}

.counter {
    text-align: center;
    padding: 20px;
}

.counter p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
}

.faculty {
    border-color: rgb(5, 5, 5);
    border-width: 2px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 250px;
    width: 250px;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.faculty:hover {
    border-width: 10px;
    width: 250px;
    height: 250px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
}

.contactdetail1 {
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 70px;
    padding-left: 10px;
}

.contactdetail2 {
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-right: 70px;
    padding-left: 10px;
}

.textareabox {
    width: 900px;
    height: 250px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 10px;
}

.map {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.blogimg {
    width: 400px;
    height: 300px;
}

.blogbox {
    margin-top: 10px;
    width: 400px;
    margin-left: 20px;
    background-color: white;
    margin-bottom: 40px;
}

.blogbox:hover {
    box-shadow: 5px 5px 5px 5px black;
}

.blogdetails {
    padding: 20px;
}

.client-card {
    text-align: center;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

nav-text-color {
    color: white;
}

about-style {
    text-align: center;
}

.image-resize {
    border-radius: 50%;
    margin-bottom: 30px;
    position: relative;
    bottom: 7%;
}

.portimg {
    height: 200px;
    width: 300px;
    padding: 20px;
}

#pname1 {
    color: white;
}

#pname1 :hover {
    color: black;
    font-weight: bold;
}

@media only screen and (min-width: 550px) {
    .aboutdetail {
        display: flex;
    }
    .detail2 {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .threeblock {
        background-color: white;
        top: -5px;
    }
    .content2 {
        padding-top: 50px;
        font-size: 15px;
    }
    .block1,
    .block2,
    .block3 {
        display: flex;
        color: white;
        background-color: rgb(30, 87, 245);
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        justify-content: space-around;
        height: 150px;
        margin-bottom: 20px;
        font-size: 10px;
        padding: 20px;
    }
    .message {
        color: white;
        padding-top: 7%;
        text-align: center;
        padding-bottom: 100px;
    }
    .formtext {
        width: 300px;
        height: 40px;
        margin-bottom: 25px;
        margin-top: 20px;
        padding-left: 10px;
    }
    .detail2,
    .detail1 {
        font-size: 15px;
    }
    .single-service-box {
        background: #ffffff none repeat scroll 0 0;
        border: 1px solid #ffffff;
        width: 350px;
        margin-right: 10px;
        margin-top: 30px;
        margin-left: 50px;
        padding: 50px 25px 25px 25px;
        transition: all 0.36s ease-in-out 0s;
        border-radius: 0 30px;
    }
    .faculty {
        border-color: rgb(5, 5, 5);
        border-width: 2px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-left: 20px;
        height: 400px;
        width: 400px;
        background-color: white;
        padding: 20px;
        padding-top: 30px;
        text-align: center;
    }
    .faculty:hover {
        border-radius: 5px;
        height: 400px;
        width: 400px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 5px 5px 5px 5px black;
    }
    .fdetails {
        margin-top: 40px;
        font-size: 30px;
    }
    .fdetails h4 {
        margin-top: 40px;
        font-size: 30px;
    }
    .contactdetail1 {
        width: 400px;
        height: 50px;
        margin-bottom: 25px;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 70px;
        padding-left: 10px;
    }
    .contactdetail2 {
        width: 400px;
        height: 50px;
        margin-bottom: 25px;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 70px;
        padding-left: 10px;
    }
    .textareabox {
        width: 400px;
        height: 250px;
        margin-bottom: 25px;
        margin-top: 20px;
        margin-left: 10px;
        padding-left: 10px;
    }
    .map {
        border-radius: 10px;
        margin-left: 10px;
        width: 430px;
        margin-bottom: 20px;
    }
    .blogbox {
        margin-top: 10px;
        width: 400px;
        margin-left: 45px;
        background-color: white;
        margin-bottom: 40px;
    }
    .blogbox:hover {
        box-shadow: 5px 5px 5px 5px black;
    }
    .client-card {
        text-align: center;
        background-color: white;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-right: 10px;
    }
}
